{%extends 'admin/admin_base.html'%}
{%load static%}
{%block titulo%}Barberos{%endblock%}
{%block dataTables%}<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">{%endblock%}
('usuario_barbero', 'admin_creador', 'horario_trabajo', 'especialidad', )

{%block main%}

<div class="table-responsive  w-100 p-5">

    <div class="d-flex">
            <button type="button" class="btn text-danger m-4 btn-outline-info   dropdown-toggle"data-bs-toggle="dropdown" aria-expanded="false"data-bs-auto-close="outside">
                Añadir
            </button>
            <form method="post" action="{%url 'register'%}" enctype="multipart/form-data"
                class="dropdown-menu  p-4 row" style="min-width: 300px;">
                {%csrf_token%}
                <label for="email" class="form-label">Email</label>
                <div class="input-group mb-3 col-12">
                    <input type="text" name="email" class="form-control" id="email"
                        placeholder="JoeDoe@ejemplo.com" required>
                </div>
                <div class="mb-3 col-12">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password"
                        placeholder="************" required>
                </div>

                <div class="col-md-12" style="display: none;">
                    <label class="form-label" for="foto">Cargar Foto</label>
                    <input type="file" class="form-control" name="foto" id="foto">
                </div>

                <div class="col-md-12">
                    <label class="form-label text-black" for="rol">Rol</label>
                    <select class="form-select "  name="rol" id="rol" >
                        <option selected>elija ..</option >
                        {%for rol , etiqueta in roles%}
                        <option value="{{rol}}">{{etiqueta}}</option >
                        {%endfor%}
                    </select>
                </div>

                <div class="mb-3">
                    <div class="form-check text-primary">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck2">
                        <label class="form-check-label" for="dropdownCheck2">
                            Recordarme
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-success   w-100 ">Sign Up</button>
            </form>
        
    </div>

    <table id="miTabla" class="  pt-3 table  table-hover  w-100">
        <thead >
            <tr >
                <th class="text-center">Nombre</th>
                <th class="text-center" >Horario</th>
                <th class="text-center" >Especialidad</th>
                <th class="text-center" >Creador</th>
                <th class="text-center" >Acciones</th>
            </tr>
        </thead>
        <tbody>
            {%for barbero in barberos%}
            <tr>
                <td class="text-center">{{barbero.usuario_barbero.nombre_completo}}</td>
                <td class="text-center">{{barbero.horario_trabajo}}</td>
                <td class="text-center">{{barbero.especialidad}}</td>
                <td class="text-center">{{barbero.admin_creador.username}}</td>
                <td class="d-flex gap-2 justify-content-center align-items-center">
                    <button class="btn btn-info btn-sm " >Editar</button>
                    <button class="btn btn-warning btn-sm " >Eliminar</button>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{%endblock%}






{%block configTables%}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#miTabla').DataTable({
            paging: true, // Paginación
            searching: true, // Búsqueda
            ordering: true, // Ordenamiento
            pageLength: 5, // Número de filas por página
            language: {
                search: "Buscar:", // Personaliza el texto de búsqueda
                lengthMenu: "Mostrar _MENU_ registros",
                info: "Mostrando _START_ a _END_ de _TOTAL_ registros",
                paginate: {
                    first: "Primero",
                    last: "Último",
                    next: "Siguiente",
                    previous: "Anterior"
                }
            }
        });
    });
</script>
{%endblock%}


