{%extends 'admin/admin_base.html'%}
{%load static%}
{%block titulo%}Servicios{%endblock%}
{%block dataTables%}<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">{%endblock%}


{%block main%}
<div class="table-responsive  w-100 p-5">
    <div class="d-flex">
        <button type="button" class="btn text-success fw-bold mb-3 btn-transparent   dropdown-toggle"data-bs-toggle="dropdown" aria-expanded="false"data-bs-auto-close="outside">
            <i class="bi bi-person-plus-fill"></i> Añadir
        </button>
        <form method="post" action="{%url 'nuevo_servicio'%}" enctype="multipart/form-data"
            class="dropdown-menu  p-4 row" style="min-width: 300px;">
            {%csrf_token%}
            <label for="nombre" class="form-label">Nombre</label>
            <div class="input-group mb-3 col-12">
                <input type="text" name="nombre" class="form-control" id="nombre"
                    placeholder="Corte Sencillo" required>
            </div>
            <div class="mb-3 col-12">
                <label for="precio" class="form-label">Precio</label>
                <input type="number" name="precio" class="form-control" id="precio"
                    placeholder="100.000" required> 
            </div>

            <button type="submit" class="btn btn-outline-success   w-100 ">Guardar</button>
        </form>
    </div>

    <table id="miTabla" class="  pt-3 table  table-hover  w-100">
        <thead >
            <tr >
                <th class="text-center" style="display: none;">ID</th>
                <th class="text-center">Nombre</th>
                <th class="text-center" >Precio</th>
                <th class="text-center" >Duracion</th>
                <th class="text-center" >Descripcion</th>
                <th class="text-center" >Categoria</th>
                <th class="text-center" >URL Imagen</th>
                <th class="text-center" >Acciones</th>
            </tr>
        </thead>
        <tbody>
            {%for servicio in servicios%}
            <tr>
                <form  action="" method="post">
                    {%csrf_token%}
                    <td style="display: none;">
                        <p style="display: none;">{{servicio.id}}</p>
                        <input type="text" readonly name="id" value="{{servicio.id}}" class="form-control">
                    </td>
                
                    <td class="col-md-4"> 
                        <p style="display: none;">{{servicio.nombre}}</p>
                        <input type="text" name="nombre" value="{{servicio.nombre}}" class="form-control">
                    </td>
                    
                    <td class="col-2">
                        <p style="display: none;">{{servicio.precio}}</p>
                        <input type="text" name="precio" value="{{servicio.precio}}" class="form-control">
                    </td>

                    <td class="col-md-2">
                        <p style="display: none;">{{servicio.duracion}}</p>
                        <input type="text" name="duracion" value="{{servicio.duracion}}" class="form-control">
                    </td>

                    <td class="col-md-6">
                        <p style="display: none;">{{servicio.descripcion}}</p>
                        <textarea name="descripcion" class="form-control" rows="4">{{ servicio.descripcion }}</textarea>
                    </td>

                    <td class="col-md-4">
                        <p style="display: none;">{{servicio.get_categoria_display}}</p>
                        <select class="form-select "  name="categoria" id="categoria" >
                            <option value="{{servicio.categoria}}">{{servicio.get_categoria_display}}</option >
                            {%for categoria , etiqueta in categorias%}
                            <option value="{{categoria}}">{{etiqueta}}</option >
                            {%endfor%}
                        </select>
                    </td>

                    <td class="col-md-4">
                        <p style="display: none;">{{servicio.img_url}}</p>
                        
                        <input type="text" name="img_url" value="{{servicio.img_url}}" class="form-control">
                    </td>

                    <td class="text-center ">   
                        <button type="submit" class="text-center text-success fs-5 " style="border: none; background-color: transparent;" ><i class="bi bi-floppy-fill"></i></button>
                        <a class="text-danger fw-bold fs-5" href="{% url 'eliminar_servicio' servicio.id %}"><i class="bi bi-trash3-fill"></i></a>
                    </td>

                </form>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{%endblock%}



{%block configTables%}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#miTabla').DataTable({
            paging: true, // Paginación
            searching: true, // Búsqueda
            ordering: true, // Ordenamiento
            pageLength: 5, // Número de filas por página
            language: {
                search: "Buscar:", // Personaliza el texto de búsqueda
                lengthMenu: "Mostrar _MENU_ registros",
                info: "Mostrando _START_ a _END_ de _TOTAL_ registros",
                paginate: {
                    first: "Primero",
                    last: "Último",
                    next: "Siguiente",
                    previous: "Anterior"
                }
            }
        });
    });
</script>
{%endblock%}