{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    {%block dataTables%}{%endblock%}
    {%block estilos%}{%endblock%}
    <title>Ziara Administración | {%block titulo%} {%endblock%} </title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            background-color: #F5F7FA;
        }
        .dropdown-toggle::after {
            display: none !important;
        }

        /* Sidebar fijo en pantallas grandes */
        .sidebar {
            width: 340px;
            height: 100vh;
            background: #FFFFFF;
            color: #263238;
            padding-top: 40px;
            overflow-y: auto;
        }

        .sidebar a {
            color: #263238;
            padding: 10px 15px;
            display: block;
            text-decoration: none;
        }

        /* Ocultar en móviles */
        @media (max-width: 991px) {
            .sidebar {
                display: none;
            }
        }
        
    </style>
</head>

<body class="d-flex flex-column min-vh-100">
    <!-- Navbar -->
    <nav class="navbar border-bottom  navbar-expand-lg bg-body p-0 m-0">
        <div class="container-fluid">
            <!-- Botón para abrir el offcanvas en móviles -->
            <button class="btn btn-dark d-lg-none m-2" type="button" data-bs-toggle="offcanvas"data-bs-target="#sidebarMenu"><i class="bi bi-list"></i> Menú</button>

            <!-- Logo -->
            <a class="navbar-brand text-light pt-0" href="{%url 'admin_panel' %}">
                <img src="{% static 'img/logo5.png' %}" alt="Ziara Logo" width="110">
            </a>
            <div>
                <h2 class="fw-bold"><span style="color: #388E3B;">Ziara</span> Administración</h2>            
            </div>
            <!-- Menú colapsable -->
            <div class="collapse navbar-collapse pt-0" id="navbarTogglerDemo01">
                <ul class="navbar-nav ms-auto mb-lg-0 gap-2">
                    <div class="d-flex  align-items-center">
                        <li>
                            <div class="dropdown me-4">
                                <button class="btn btn-transparent  position-relative dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border: none;">
                                    🔔
                                    <span id="contador-notificaciones" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="display: none;">
                                        0
                                    </span>
                                </button>
                                <ul id="lista-notificaciones" class="dropdown-menu dropdown-menu-end">
                                    <li class="dropdown-item text-muted">Sin notificaciones</li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-brand" href="{%url 'ver_perfil' request.session.logueado.id%}">
                                <img src="{{ request.session.logueado.foto }}" alt="Foto de Perfil" width="40" height="40" class="d-inline-block rounded-circle">
                            </a>
                        </li>
                        
                        <div class="dropdown">
                            <button class="btn btn-success dropdown-toggle btn-sm" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                    Perfil
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="{%url 'ver_perfil' request.session.logueado.id%}">Editar Perfil</a></li>
                                <li><a class="dropdown-item" href="{%url 'recuperar_password'%}">Cambiar Contraseña</a></li>
                            </ul>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Notificaciones -->
    <div id="notificaciones">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags and message.tags != 'error' %}{{ message.tags }}{% else %}danger{% endif %} alert-dismissible fade show"
                    role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <!-- Sidebar como offcanvas en móviles -->
    <div class="offcanvas offcanvas-start d-lg-none" tabindex="-1" id="sidebarMenu">
        <div class="offcanvas-header bg-dark text-white">
            <h5 class="offcanvas-title">Menú</h5>
            <button type="button" class="btn-close text-reset d-lg-none" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body bg-dark text-white">
            <nav class="nav flex-column">
                <a class="nav-link text-light" href="{%url 'admin_panel'%}"><i class="bi bi-house-door"></i> Inicio</a>
                <a class="nav-link text-light" href="{%url 'dashboard'%}"><i class="bi bi-grid"></i> Dashboard</a>
                <a class="nav-link text-light" href="{%url 'listar_usuarios'%}"><i class="bi bi-person-badge"></i> Usuarios</a>
                <a class="nav-link text-light" href="{%url 'listar_citas'%}"><i class="bi bi-calendar-check"></i> Citas</a>
                <a class="nav-link text-light" href="{%url 'listar_servicios'%}"><i class="bi bi-scissors"></i> Servicios</a>
                <a class="nav-link text-light" href="{%url 'listar_productos'%}"><i class="bi bi-box-seam-fill"></i> Productos</a>
                <a class="nav-link text-light" href="{% url 'inventario' %}"><i class="bi bi-archive-fill"></i> Inventario</a>
                <hr>
                
                <a class="nav-link text-light" href="{%url 'ver_perfil' request.session.logueado.id%}"><i class="bi bi-person-lines-fill"></i> Editar Perfil</a>
                <a class="nav-link text-light" href="{%url 'recuperar_password'%}"><i class="bi bi-lock-fill"></i> Cambiar Contraseña</a>
                <hr class="text-light">
                <a class="nav-link text-danger" href="{% url 'logout' %}"><i class="bi bi-box-arrow-right"></i> Logout</a>
                
            </nav>
        </div>
    </div>

    <!-- Contenedor principal -->
    <div class="d-flex flex-grow-1  shadow-lg">
        <!-- Sidebar fijo en pantallas grandes -->
        <nav class="sidebar rounded-4 m-3 d-none d-lg-block">
            <a href="{%url 'admin_panel'%}"><i class="bi bi-house-door"></i> Inicio</a>
            <a href="{%url 'dashboard'%}"><i class="bi bi-grid"></i> Dashboard</a>
            <a href="{%url 'listar_usuarios'%}"><i class="bi bi-person-badge"></i> Usuarios</a>
            <a href="{%url 'listar_citas'%}"><i class="bi bi-calendar-check"></i> Citas</a>
            <a href="{%url 'listar_servicios'%}"><i class="bi bi-scissors"></i> Servicios</a>
            <a href="{%url 'listar_productos'%}"><i class="bi bi-box-seam"></i> Productos</a>
            <a href="{% url 'inventario' %}"><i class="bi bi-archive"></i> Inventario</a>
            <hr>
            <a href="{% url 'logout' %}" style="color: #E53835;"><i class="bi bi-box-arrow-right"></i> Logout</a>
        </nav>
        {% block main %}
        
        {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    {%block configTables%}{%endblock%}
    {%block js%}{%endblock%}
    <script>
        function actualizarNotificaciones(){
            fetch('/ultimos_datos_admin/')
            .then(response => response.json())
            .then(data =>{
                let lista = document.getElementById('lista-notificaciones')
                let contador = document.getElementById('contador-notificaciones')
                contador.textContent = data.notificaciones.length 


                lista.innerHTML = '' // Vaciar la lista 
                data.notificaciones.forEach(notificacion => {
                    let li = document.createElement('li')
                    li.className = 'dropdown-item text-muted'
                    li.textContent = notificacion
                    lista.appendChild(li)
                });

                if (data.notificaciones.length  > 0 ){
                    contador.style.display = "inline";  // Muestra el contador si hay notificaciones
                }else{
                    contador.style.display = "none";  // Muestra el contador si hay notificaciones
                }
            })
        }
        // Actualiza cada 5 segundos
        setInterval(actualizarNotificaciones, 5000);
    </script>
</body>

</html>
