{%extends 'admin/admin_base.html'%}
{%load static%}
{%block titulo%}Dashboard{%endblock%}
{%block main%}
<main class="container mt-4">
    <div class="row">
        <!-- Sección de estadísticas y saludo -->
        <div class="col-md-6">
            <div class="border d-flex flex-column  p-3">
                <h2 id="greeting">Hola, JULIAN</h2>
                <div class="d-flex gap-2 flex-wrap mt-3">
                    <span class="badge bg-primary">Clientes registrados: 150</span>
                    <span class="badge bg-success">Citas agendadas: 45</span>
                    <span class="badge bg-warning">Ingresos del mes: $2,500</span>
                    <span class="badge bg-danger">Top Servicio: Corte + Barba</span>
                </div>
            </div>

            <!-- Últimas Acciones -->
            <div class="card  shadow-sm mt-4">
                <div class="card-header bg-info text-white">
                    <h5 class="mb-0">Últimas Acciones</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {%for cita in citas%}
                        <li class="list-group-item">{{cita.cliente.usuario_cliente.nombre_completo}} agendo una cita</li>
                        {%endfor%}
                        {%for servicio in servicios%}
                        <li class="list-group-item">Se agrego el servicio <span class="fw-bold text-success">{{servicio.nombre}}</span> </li>
                        {%endfor%}
                        {%for producto in productos%}
                        <li class="list-group-item">Se agrego el producto <span class="fw-bold text-success">{{producto.nombre}}</span> </li>
                        {%endfor%}
                        {%for pago in pagos%}
                        <li class="list-group-item"> <span class="fw-bold text-success">{{pago.cliente.usuario_cliente.nombre_completo}}</span> realizo un pago  </li>
                        {%endfor%}
                        {%for barbero in barberos%}
                            <li class="list-group-item"> <span class="fw-bold text-success">{{barbero.admin_creador.usuario_admin.nombre_completo}}</span> Registro una Cuenta De Barbero  </li>
                        {%endfor%}
                        {%for admin in admins%}
                            <li class="list-group-item"> <span class="fw-bold text-success">{{admin.usuario_admin.nombre_completo}}</span> Registro una Cuenta Tipo Admin  </li>
                        {%endfor%}
                        {%for cliente in clientes%}
                            <li class="list-group-item"> El Ciente <span class="fw-bold text-success"> {{cliente.usuario_cliente.nombre_completo}}</span> Se Registro En Ziara  </li>
                        {%endfor%}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">Empleados</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {%if barberos or admins%}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {%for barbero in barberos%}
                            
                            <span>🔹 <strong> {{barbero.usuario_barbero.nombre_completo}} </strong></span>
                            <span class="badge bg-success">{{barbero.usuario_barbero.get_tipoUsuario_display}}</span>
                            
                            {%endfor%}

                        </li>
                        
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {%for admin in admins%}
                            
                            <span>🔹 <strong> {{admin.usuario_admin.nombre_completo}} </strong></span>
                            <span class="badge bg-success">{{admin.usuario_admin.get_tipoUsuario_display}}</span>
                            
                            {%endfor%}

                        </li>
                        {%endif%}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
{%endblock%}
