{%extends 'admin/admin_base.html'%}
{%load static%}
{%block titulo%}Inicio{%endblock%}
{%block main%}


<div class="container mt-5">
    <div class="card shadow-lg border-0 rounded-4 bg-light">
        <div class="card-body text-center p-5">
            <h1 class="display-5 fw-bold text-success">
                <i class="bi bi-stars me-2"></i> ¡Bienvenido, {{ request.session.logueado.nombre }}!
            </h1>
            <p class="lead text-secondary mt-3">
            Este es tu panel administrativo. Desde aquí puedes gestionar los servicios, productos, inventario, horarios de barberos, y la creación de cuentas para barberos y administradores.
            </p>
            <hr class="my-4">
            <p class="text-muted">Hoy es un gran día para lograr cosas increíbles. 💪</p>
        </div>
    </div>
</div>

{%endblock%}