{%extends 'admin/admin_base.html'%}
{%load static%}
{%block titulo%}Inventario{%endblock%}
{%block dataTables%}<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">{%endblock%}
{%block main%}
<div class="table-responsive  w-100 p-5">
    <table id="miTabla" class="  pt-3 table  table-hover  w-100">
        <thead >
            <tr >
                <th class="text-center" style="display: none;">ID</th>
                <th class="text-center">Producto</th>
                <th class="text-center" >Stock</th>
                <th class="text-center" >Fecha_actualizacion</th>
                <th class="text-center" >Acciones</th>
            </tr>
        </thead>
        <tbody>
            {%for i in inventario %}
            <tr>
                <form  action="" method="post">
                    {%csrf_token%}
                    <td style="display:  none;">
                        <input type="text" name="id" value="{{i.id}}" class="form-control">
                    </td>

                    <td class="col-md-4 col-lg-2">
                        <p class="text-center">{{i.producto.nombre}}</p>
                        
                    </td>
                    
                    <td class="col-md-2 col-lg-1">
                        <p style="display: none;">{{producto.stock}}</p>
                        <input type="text" name="stock" value="{{i.stock}}" class="form-control">
                    </td>


                    <td class="col-md-4 col-lg-2">
                        <p class="text-center">{{i.fecha_actualizacion}}</p>
                    </td>


                    <td class="text-center col-md-4 col-lg-2 ">
                        <a class="text-primary fw-bold fs-5" href="{%url 'detalle_producto' i.id %}"><i class="bi bi-box-seam"></i></a>

                        <button type="submit" class="text-center text-success fs-5 " style="border: none; background-color: transparent;" ><i class="bi bi-floppy-fill"></i></button>
                    </td>

                </form>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{%endblock%}



{%block configTables%}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#miTabla').DataTable({
            paging: true, // Paginación
            searching: true, // Búsqueda
            ordering: true, // Ordenamiento
            pageLength: 5, // Número de filas por página
            language: {
                search: "Buscar:", // Personaliza el texto de búsqueda
                lengthMenu: "Mostrar _MENU_ registros",
                info: "Mostrando _START_ a _END_ de _TOTAL_ registros",
                paginate: {
                    first: "Primero",
                    last: "Último",
                    next: "Siguiente",
                    previous: "Anterior"
                }
            }
        });
    });
</script>
{%endblock%}