{%extends 'base.html'%}
{%load static%}
{%block titulo %}Home{%endblock%}
{%block main %}
<div class="container" style="color: #F2F2F2;">
    <div class="row d-flex align-items-center">
        <div class="col-md-6">
            <h1 class="display-1  fw-bold " style="color: #717171;">Eleva tu estilo con <span style="color: #66BB69;">Ziara</span></h1>
            <p class=" fs-5 fw-semibold" style="color: #263238;">Donde la precisión se encuentra con la pasión. Más que un corte, una experiencia.</p>
            <button class="btn  shadow-lg btn-outline-success fw-semibold fs-6" style="color: #263238;">RESERVAR</button>
        </div>
        <div class="col-md-6">
            <img src="{% static 'img/seccion1.2.svg' %}" class="img-fluid" alt="Imagen descriptiva">
        </div>
    </div>
</div>

{%endblock%}
{%block 'js'%}{%endblock%}