{%extends 'base.html'%}
{%load static%}
{%block titulo %}Home{%endblock%}


{%block carrito%}
<button class="btn btn-transparent btn-sm dropdown-toggle" type="button" id="dropdownCarrito" data-bs-toggle="dropdown" aria-expanded="false" style="border: none;">
    {% if carrito_servicios|length > 0 %}
    <i class="bi bi-cart3"></i>  <span class="badge bg-danger" id="contadorCarrito">  {{carrito_servicios|length}}   </span>
    {%endif%}
</button>

<ul class="dropdown-menu dropdown-menu-end w-100 pb-0" aria-labelledby="dropdownCarrito" id="listaCarrito">
    {% if carrito_servicios|length > 0 %}
    {%for servicio in carrito_servicios%}
        <li class="dropdown-item  d-flex justify-content-between align-items-center">
            <span class="text-wrap"> {{servicio.nombre}} </span>
            <a href="{% url 'eliminar_elementos_carrito' servicio.id %}" class="btn btn-outline-danger btn-sm">
                <i class="fas fa-trash-alt"></i> Eliminar
            </a>
        </li>
    {%endfor%}
    {%else%}
        <li><span class="dropdown-item-text text-muted">Carrito vacío</span></li>
    {%endif%}
    
</ul>
{%endblock%}

{%block main %}
{%if request.session.logueado.rol == 'C' or not request.session.logueado %}
<div class="container" style="color: #F2F2F2;">
    <div class="row d-flex align-items-center">
        <div class="col-md-6">
            <h1 class="display-1  fw-bold " style="color: #717171;">Eleva tu estilo con <span style="color: #66BB69;">Ziara</span></h1>
            <p class=" fs-5 fw-semibold" style="color: #263238;">Donde la precisión se encuentra con la pasión. Más que un corte, una experiencia.</p>
            <a href="{%url 'reservas_citas' %}"><button class="btn  shadow-lg btn-outline-success fw-semibold fs-6" style="color: #263238;">RESERVAR</button></a>
        </div>
        <div class="col-md-6">
            <img src="{% static 'img/seccion1.2.svg' %}" class="img-fluid" alt="Imagen descriptiva">
        </div>
    </div>
</div>
{%endif%}
{%endblock%}
