{%extends 'admin/admin_base.html'%}
{%load static%}
{%block titulo%}Usuarios{%endblock%}
{%block dataTables%}<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">{%endblock%}


{%block main%}
<div class="table-responsive  w-100 p-5">
    <div class="d-flex">
        <button type="button" class="btn text-success fw-bold mb-3 btn-transparent   dropdown-toggle"data-bs-toggle="dropdown" aria-expanded="false"data-bs-auto-close="outside">
            <i class="bi bi-person-plus-fill"></i> Añadir
        </button>
        <form method="post" action="{%url 'register'%}" enctype="multipart/form-data"
            class="dropdown-menu  p-4 row" style="min-width: 300px;">
            {%csrf_token%}
            <label for="email" class="form-label">Email</label>
            <div class="input-group mb-3 col-12">
                <input type="email" name="email" class="form-control" id="email"
                    placeholder="JoeDoe@ejemplo.com" required>
            </div>
            <div class="mb-3 col-12">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="password"
                    placeholder="************" required>
            </div>

            <div class="col-md-12" style="display: none;">
                <label class="form-label" for="foto">Cargar Foto</label>
                <input type="file" class="form-control" name="foto" id="foto">
            </div>

            <div class="col-md-8 mb-3   ">
                <label class="form-label text-black" for="rol">Rol</label>
                <select class="form-select "  name="rol" id="rol" >
                    <option selected>Seleccione ..</option >
                    {%for rol , etiqueta in roles%}
                    {%if not rol == 'C'%}
                    <option value="{{rol}}">{{etiqueta}}</option >
                    {%endif%}
                    {%endfor%}
                </select>
            </div>
            <button type="submit" class="btn btn-outline-success   w-100 ">Guardar</button>
        </form>
    </div>

    <table id="miTabla" class="  pt-3 table  table-hover  w-100">
        <thead >
            <tr >
                <th class="text-center">Nombre</th>
                <th class="text-center" >Email</th>
                <th class="text-center" >Telefono</th>
                <th class="text-center" >Rol</th>
                <th class="text-center" >Nick</th>
                <th class="text-center" >Estado</th>
                <th class="text-center" >Acciones</th>
            </tr>
        </thead>
        <tbody>
            {%for usuario in usuarios%}
            <tr>
                
                <td class="text-center">{{usuario.nombre_completo}}</td>
                <td class="text-center">{{usuario.email}}</td>
                <td class="text-center">{{usuario.telefono}}</td>
                <td class="text-center">{{usuario.get_tipoUsuario_display}}</td>
                <td class="text-center">{{usuario.username}}</td>
                <td class="text-center">{{usuario.estado}}</td>
                <td class="text-center">
                    {%if usuario.tipoUsuario != 'A'%}
                    <a class="text-danger text-center justify-content-center align-items-center fw-bold fs-5" href="{%url 'eliminar_usuario' usuario.id%}"><i class="bi bi-trash3-fill"></i></a>
                    {%endif%}
                    {%if  usuario.tipoUsuario == 'B' %}
                    {%for barbero in usuario.barberos.all %}
                    <a class="text-primary fw-bold fs-5" href="{% url 'detalles_barberos' barbero.id  %}"><i class="bi bi-person-badge-fill"></i></a>
                    {%endfor%}
                    {%endif%}
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{%endblock%}






{%block configTables%}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#miTabla').DataTable({
            paging: true, // Paginación
            searching: true, // Búsqueda
            ordering: true, // Ordenamiento
            pageLength: 5, // Número de filas por página
            language: {
                search: "Buscar:", // Personaliza el texto de búsqueda
                lengthMenu: "Mostrar _MENU_ registros",
                info: "Mostrando _START_ a _END_ de _TOTAL_ registros",
                paginate: {
                    first: "Primero",
                    last: "Último",
                    next: "Siguiente",
                    previous: "Anterior"
                }
            }
        });
    });
</script>
{%endblock%}